<div id='container'>
  <div id='panel-left'>
    <img id='photo-profile' alt='me, Bob and Sully' src='/assets/images/face-off.jpg'>
    <p>Hi!</p>
    <p>{{ site.description }}</p>
    <br>
    <p class='no-margin'><i class="fa fa-home" aria-hidden="true"></i>&nbsp Toronto (Canada)</p>
    <p class='no-margin'><i class="fa fa-magic" aria-hidden="true"></i>&nbsp hacker in residence</p>
    <p class='no-margin'><i class="fa fa-users" aria-hidden="true"></i>&nbsp
      <a href='http://www.forestadmin.com' target='_blank'>ForestAdmin</a> |
      <a href='https://efounders.co' target='_blank'>eFounders</a>
    </p>
    <p class='no-margin'><i class="fa fa-inbox" aria-hidden="true"></i>&nbsp
      <a href='mailto:arnaudibesnier@gmail.com'>arnaudIbesnier@gmail.com</a>
    </p>
    <div id='panel-menu'>
      <ul id='social-list'>
        <li class='social_item'>
          <div id="facebook_social_container">
            {% include icon-facebook.html username=site.facebook_username %}
          </div>
        </li>
        <li class='social_item'>
          <div id="twitter_social_container">
            {% include icon-twitter.html username=site.twitter_username %}
          </div>
        </li>
        <li class='social_item'>
          <div id="instagram_social_container">
            {% include icon-instagram.html username=site.instagram_username %}
          </div>
        </li>
        <li class='social_item' style='margin-right: 0;'>
          <div id="soundcloud_social_container">
            {% include icon-soundcloud.html username=site.soundcloud_username %}
          </div>
        </li>
        <li class='social_item'>
          <div id="dribbble_social_container">
            {% include icon-dribbble.html username=site.dribbble_username %}
          </div>
        </li>
        <li class='social_item'>
          <div id="medium_social_container">
            {% include icon-medium.html username=site.medium_username %}
          </div>
        </li>
        <li class='social_item'>
          <div id="github_social_container">
            {% include icon-github.html username=site.github_username %}
          </div>
        </li>
        <li class='social_item' style='margin-right: 0;'>
          <div id="linkedin_social_container">
            {% include icon-linkedin.html username=site.linkedin_username %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
